//////////////////////////////////
// THEME / COMPONENTS / NAV: LOCAL
//////////////////////////////////


.theme .dcf-nav-local > ul > li > a {
  // font-weight: bold;
  // @include ls-1;
  // text-transform: uppercase;
}


.theme .dcf-nav-local > ul {
  // display: grid;
  // @include txt-xs;
  // grid-gap: 1em 5vw;
  // grid-template-columns: repeat(auto-fit, minmax(#{ms(18)}em, 1fr));
}


.theme .dcf-nav-local ul ul {
  // @include txt-xs;
  // @include pt-4;
}


@include mq(md, min, width) {

  .theme .dcf-nav-local {
    grid-area: nav1;
    position: relative;
  }

  .theme .dcf-nav-local > ul {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }

  .theme .dcf-nav-local > ul > li:not(:last-child) {
    // margin-right: 2vw;
  }

}


//////////////////////////////////
// THEME / COMPONENTS / NAV: LOCAL
//////////////////////////////////


.theme .dcf-nav-local {
  transform: translateZ(0);
  z-index: 998;
}


.theme .dcf-nav-local a:hover {
  // text-decoration: underline;
}


.theme .dcf-nav-local > ul:first-child {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(#{ms(15)}em, 1fr));
}


.theme .dcf-nav-local ul ul {
  // margin-top: 0;
}


.theme .dcf-nav-local ul ul > li > a {
  // @include pb-2;
  // @include pt-2;
}


@include mq(md, max, width) {

  // .theme .dcf-nav-local > ul {
  //   grid-gap: $length-em-6 $length-vw-1;
  // }

}


@include mq(sm, min, width) {

  // .theme .dcf-nav-local > ul:first-child {
  //   grid-template-columns: repeat(3, 1fr);
  // }

}


@include mq(md, min, width) {

  .theme .dcf-nav-local > ul:first-child {
    // grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    // width: 100%;
  }


  .theme .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-local > ul {
    overflow: visible;
  }


  .theme .dcf-nav-local > ul > li {
    position: relative;
  }


  .theme .dcf-nav-local > ul > li > a {
    // border-left: 1px solid #a00000;
    height: 100%;
  }


  .theme .dcf-nav-local ul ul {
    // @include pb-7;
    width: 100%;
  }


  // Background for open mega menu
  .theme .dcf-nav-local ul ul::before {
    background-color: inherit;
    content: '';
    // height: 100%;
    // left: 0;
    // position: absolute;
    // top: 0;
    // width: 200vw;
    transform: translateX(-50%);
    z-index: -1;
  }


  .theme .dcf-nav-toggle-btn-menu ~ .dcf-nav-local ul ul  {
    pointer-events: none;
    position: absolute;
    top: 100%;
    visibility: hidden;
  }


  .theme .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-local ul ul  {
    pointer-events: auto;
    visibility: visible;
  }


  // navigation transition to be added later
  .theme .dcf-nav-toggle-btn-menu ~ .dcf-nav-local ul ul:after {
    background-color: inherit;
    content: '';
    // left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    width: 1px;
    transition: transform 300ms ease-out;
  }


  .theme .dcf-nav-toggle-btn-menu[aria-expanded="true"] ~ .dcf-nav-local ul ul:after {
    transform: scaleY(1);
  }

}